*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: auto;
    background-color: #e6e6fa;
    font-family: cursive; 
}

h1{
    font-size: 3rem;
    color: #9370db;
}

#weekday{

    font-size: 5rem;
    color: #6a5acd;
    text-transform: uppercase;
    font-weight: 800;
}

#quote{
    font-size: 2rem;
    color: #8a2be2;
}

